@model LoginFormModel

@{
    ViewData["Title"] = "Statistics";
}

<div class="row">
    <div class="col-lg-4 offset-lg-4">
        <h2>hidden</h2>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}